*{margin: 0%;}


                                                /* NAVBAR CODING RIGHT HERE UN CSS */

#header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    line-height: 60px;
}

#navbar{
    display: flex;
    justify-content: space-around;
    background: rgb(0, 0, 0, 0.5);
}

#navbar h1{
    color: orange;
    font-size: 1.8rem;
    text-shadow: 2px 2px 2px 2px;
    font-family: cursive;
    margin-left: 30px;
}

#navbar ul{
    display: flex;
    
}

#navbar ul .nav1{
    list-style-type: none;
    margin-left: 50px;
}

#navbar ul .nav1 a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

#navbar .nav2 a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    border: orange solid 5px;
    margin-left: 250px;
    padding: 5px 5px 5px 5px;
    font-weight: bolder;
}

#navbar:hover .nav2 a, #mobile_menu ul li{
    color: blue;
    background-color: yellow;
    transition: ease-in 0.3s;
}



                                    /* MOBILE MENUUUUUU */

#mobile_menu{
    display: none;
    height: 40px;
    line-height: 40px;
    background-color: 0, 0, 0, 0.5;
}
#mobile_menu ul{
    display: flex;
    justify-content: center;
}
#mobile_menu ul li{
    list-style-type: none;
    padding:  0px 5px 0px 5px;
}
#mobile_menu ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 768px)       
{
    #mobile_menu{
        display: block;
    }
    #navbar ul{
        display: none;
    }
}
/* *************************************************** */
#hero_content h1, #h2{
    animation: color linear 4s infinite;
}

@keyframes color {
    0%{color: black;}
    25%{color: yellow;}
    50%{color: green;}
    75%{color: purple;}
    100%{ color: blue;}
    
        0%{transform: translateX(-400px);}
        100%{transform: translateX(0px);}
}

                                  /* NAVBAR CODING ENDS HERE */



                                    /* HERO SECTION */

#hero{
    position: relative;
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#hero_content{
                position: absolute;
}
#hero_content h1{
                color: white;
                font-size: 100px;
}
#hero_content h2{
                color: white;
                font-size: 50px;
}
#hero_content a button{
                background-color: black;
                color: rgb(255, 255, 255);
                font-size: 45px;
                border-radius: 100%;
                height: 100px;
                border-color: yellow;
}

#hero_content a button:hover{
                    background-color: yellow;
                    color: blue;
                    box-shadow: 5px 5px 5px 5px;
                    transition: ease-in;
                    transition-duration: 0.3s;
}

/* ************************************************************************************************** */
                                /* CSS FOR MENU!!! */
/* ************************************************************************************************** */

#menu{
    padding: 25px 0px 25px 0px;
    background-image: url(IMAGES/pink.avif);
}

#section{
    padding: 25px 0px 25px 0px;
    text-align: center;
    font-family: Verdana;
    font-size: 3rem;
}

#menu_row{
    display: flex;
    padding: 0px 100px 0px 100px;
}

#menu_col{
    box-shadow: 3px 3px 3px 3px;
    border: 5px solid black;
    background-color: white;
    margin: 15px;
    padding: 10px;
    flex: 1;
}

#menu_col h2{
    background-color: red;
    font-family: cursive;
    color: white;
    padding: 5px;
    text-align: center;
   
}

#img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 5px solid orange;
    padding: 5px;
}

#img img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 7.5px;
}

#goback{
    height: 50px;
    width: 100%;
    border: 5px solid rgb(0, 0, 0);
    font-size: 10px;
    font-family: cursive;
    padding: 5px;
    line-height: 50px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
#goback:hover{
    color: rgb(200, 255, 0);
    
    transition-duration: 0.5s;
}

/* *************************************************************************************************** */
                                        /* CSS OF CHEFS */
/* ***************************************************************************************************** */

#chef{
    padding: 25px 0px 25px 0px;
    background-color: rgb(0, 0, 0);
    color: white;
 
}

#chef_row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.chef_col{
    text-align: center;
    padding: 10px;
    margin: 20px;
}
.chef_col h2{
    font-size: medium;
    margin-top: 30px;
    color: white;
}

#image2{
    width: 200px;
    height: 250px;
}

#image2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}


#aboutchefs{
 
    height: 150px;
    width: 100%;
    text-align: center;
    margin: auto;
    background-color: rgb(255, 85, 85);
}
#aboutchefs {
    padding-top: 10px;
}

/* ******************************************************************************************************************
                                                ABOUT US SECTION *
/* ********************************************************************************************************** */

#about #section1{
    margin: auto;
}

#about{
    padding: 25px 0px 25px 0px;
    background-color: aquamarine;
}

#about_row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 100px 0px 100px;
}

.about_col{
    flex: 1;
}

#about_img img{
    height: 100%;
    width: 100%;
    border-radius: 100%;
    object-fit: fill;
}

/* **************************************************************************************************************************** */
                                                    /* CONTACT SECTION */
/* ************************************************************************************************************************** */

#contact{
    padding: 25px 0px 25px 0px;
}


#contact_row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 100px 0px 100px;
}

.contact_col{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.contact_col p, h3{
    font-weight: bold;
    color: #292929;
}
.contact_col p a{
    text-decoration: none;
    color: #292929;

}

#social a{
    color: rgb(0, 0, 0);
    margin: 5px;
    font-size: 50px;
}
.contact_col form{
    display: flex;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    width: 100%;
    padding: 20px 40px 20px 20px;
}
.contact_col form h3{
   color: white;
    font-family: cursive;
}
.contact_col form input{
    width: 80%;
    height: 17pt;
    padding: 5px;
    margin: 5px;
}



.contact_col p i{
    margin-top: 20px;
}
#follow{
    margin-top: 20px;
}









